body{
margin:0;
background:#1e1e1e;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:420px;
background:#eeeeee;
border-radius:40px;
overflow:hidden;
text-align:center;
padding-bottom:30px;
}

.top{
background:linear-gradient(#b8894a,#d9b07a);
height:150px;
}

.top img{
width:150px;
margin-top:20px;
}

.profile{
margin-top:-30px;
}

.avatar{
width:120px;
height:120px;
background:#cfcfcf;
border-radius:50%;
margin:auto;
background-size:cover;
background-position:center;
cursor:pointer;
}

#photoInput{
display:none;
}

.change{
font-size:12px;
font-weight:bold;
}

form{
padding:25px;
}

input,select{
width:100%;
padding:14px;
margin:10px 0;
border:none;
background:#dcdcdc;
font-weight:bold;
box-sizing:border-box;
}

.signup{
width:100%;
padding:15px;
margin-top:15px;
border:none;
border-radius:25px;
background:#d6d2d2;
font-weight:900;
cursor:pointer;
}
.signup:hover{
    background:#aaa9a9;
}